<style>

#dropzone {
			box-sizing: border-box;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			border: 2px #ababab dashed;
			text-transform: uppercase;
			font-weight: bold;
			z-index: 2;
		}
		.powered-by {
			position: absolute;
			bottom: 10px;
			left: 0;
			width: 100%;
			text-align: center;
			text-transform: none;
			font-weight: light;
			font-size: 12px;
			line-height: 1.5em;
		}
		.powered-by a {
			color: #92C7FF;
			text-decoration: none;
		}
		#image {
			text-align: center;
		}
		#view-button {
			position: fixed;
			top: 0;
			right: 0;
			padding: 10px;
			font-weight: bold;
			font-size: 10px;
			background-color: #333;
			color: #FFF;
			cursor: pointer;
			z-index: 100;
			text-transform: uppercase;
		}
		#livepreview {
			position: relative;
			top: -100px;
			width: 1200px;
			margin: 0 auto;
			z-index: 99;
		}
		.row {
			display: none;
			position: relative;
			z-index: 99;
			opacity: 0;
			padding: 50px 0;
			border-bottom: 1px dashed #333;
		}
		.row:nth-child(odd) {
			background-color: rgba(0,0,0,.05);
		}
		.preview-image {
			line-height: 0;
		}
		.preview-image {
			display: inline-block;
		}
		.preview-image, .cropped-image > div {
			position: relative;
			text-align: left;
		}
		.cropped-image {
			position: absolute;
			overflow: hidden;
		}
		.preview-image:before {
			content: " ";
			display: block;
			width: 100%;
			height: 100%;
			background-color: #000;
			position: absolute;
			opacity: .7;
		}
		.cropping-code {
			margin: 10px auto 50px;
			display: block;
			width: 100%;
			padding: 10px 0;
			text-align: center;
			border: none;
			outline: none;
			background-color: transparent;
		}
		#livepreview .cropping-code {
			box-sizing: border-box;
			position: absolute;
			bottom: 0;
			margin: 0;
			padding: 40px;
			background-color: rgba(0,0,0,0.5);
			color: #FFF;
			font-weight: bold;
		}
		.error {
			background-color: rgba(255,0,4,.2) !important;
		}
		.clear {
			width: 100%;
			clear: both;
		}
		#progress {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
		#progress .tip {
			position: absolute;
			left: 50%;
			display: block;
			width: 80vw;
			margin-top: 2em;
			font-weight: normal;
			text-transform: none;
			
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		.text {
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
		@keyframes rotate {
			from {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);transform: rotate(0deg);}
			to {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}
		}
		.animation {
			position: absolute;
			top: 45%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			width: 35px;
			height: 35px;
			
		}
		.rotate {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			
			-webkit-animation: rotate 3s linear infinite;
			-moz-animation: rotate 3s linear infinite;
			animation: rotate 3s linear infinite;
			
			border-radius: 50%;
			border: 3px solid #2BA800;
		}
		
		.rotate:after {
			content: " ";
			width: 12px;
			height: 12px;
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			border-radius: 50%;
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			background-color: #FFF;
		}
		img {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			pointer-events: none;
		}
		#link{display:none;}
		#save{display:none;}
		.reupload { z-index:10; position:absolute; top:2%; left:8%; display: none;  }

		.gohome { left:2%; }
</style>	



	<div id="dropzone">
		<div class="text">
			Drop your PSD here<br />
		</div>
		<div class="powered-by">created by <a href="http://czino.de/">Eric Lehmann</a><br />powered by <a href="https://www.npmjs.com/package/psd">psd.js</a></div>
	</div>
	<div id="progress">
		<div class="text">Processing...<span class="tip"></span></div>
		<div class="animation"><div class="rotate"></div></div>
	</div>
<%= form_for @blog do |form| %>
  <% for attribute in [:link] %>
    <%= form.text_field attribute, :id => attribute %>
    <button style="z-index:10; position:absolute; top:6%; left:2%;" class="btn btn-primary" id="save">Save</button>
 <% end %>
<% end %>    
<%= link_to 'ReCrop', edit_blog_path(@blog), :class => "btn btn-warning reupload" %>
<%= link_to 'Home', blogs_path, :class => "btn btn-primary reupload gohome" %>
<script type="text/javascript">
	
	

$( document ).ready(function() {
		
		var PSD = require('psd');
		
		document.getElementById('dropzone').addEventListener('dragover', onDragOver, true);
		document.getElementById('dropzone').addEventListener('drop', onDrop, true);

		function loopThroughParents(parentGroups) {
			for (parentGroup = parentGroups.length; parentGroup >= 0; parentGroup--) {
				if (typeof parentGroups[parentGroup] != "undefined") {
					mask = parentGroups[parentGroup].get("mask");
					if (mask.left == 0 && mask.top == 0 && mask.right == 0 && mask.bottom == 0) {
						//continue
					}
					else {
						//break for loop
						console.log("layer mask found!");
						return mask;
					}
				}
			}
		}
		
		function onDragOver(e) {
		  e.stopPropagation();
		  e.preventDefault();
		  e.dataTransfer.dropEffect = 'copy';
		}
		
		function onDrop(e) {
			document.getElementById('dropzone').removeEventListener('drop', onDrop, true);
			$(".preview-image, .cropping-code").detach();
			tips = new Array(
				"Tip: you can switch between liveview and listview by pushing the button in the upper right corner",
				"Tip: you can also switch views by pressing the tab key",
				"Tip: Listview can show you hidden images (e.g. slider images)",
				"Tip: you can reverse the order within the listview by pressing the 'r'-key",
				"If croppings go wrong or something is missing ask a designer to look into this<br />Alternatively, do it yourself",

				"Xipiron is coming",
				"Take a deep breath",
				"Red links show that the cropping might be wrong"
			);
			$(".tip").html(tips[Math.floor(Math.random() * tips.length)]);
			$("#dropzone").animate({"opacity": 0}, 500, function() {
				$("#progress").animate({"opacity": 1}, 1500);
			});
			console.log("start");
			var startTime = Date.now();
	
			e.stopPropagation();
			e.preventDefault();
			
			var result = "<div id='listview'>";
			var preview = "<div id='livepreview'>";
			var seen = {};

			PSD.fromEvent(e).then(function (psd) {
			$('#save').show(10);	
			var data = psd.tree().export();
			//var data = JSON.stringify(psd.tree().export(), undefined, 2);
			nodes = psd.tree().descendants();
			for (n = 0; n < nodes.length; n++) {
				//$("#process > div").animate({"width":progress+"%"}, 100);
				progress = parseInt(n / nodes.length * 100);
				if ((nodes[n].name == "img" || nodes[n].name.toLowerCase().indexOf("image") >= 0) && typeof nodes[n].get("text") == "undefined") { 
					// group names that have img, image or slide in their names are accepted
					for (i= 0; i <= nodes[n].descendants().length; i++) {
						if (typeof nodes[n].descendants()[i] != "undefined" && typeof nodes[n].descendants()[i].get("text") == "undefined" && nodes[n].descendants()[i].get("name").toLowerCase().indexOf("rectangle") < 0 && nodes[n].descendants()[i].get("opacity") == 255) {
// loops though all children of the group until it finds a layer that is not text or rectangle // opacity must be 1!
							image = nodes[n].descendants()[i];
						}
					}
					imageName = image.get("name");
					offsetX = image.get("left");
					offsetY = image.get("top");
					width = image.get("width");
					height = image.get("height");
					if (!seen[imageName+"_"+offsetX+"_"+offsetY+"_"+width+"_"+height]) {
						// checks if the image has been handled before
						seen[imageName+"_"+offsetX+"_"+offsetY+"_"+width+"_"+height] = true;
						//console.log("Checking: "+imageName);
						imagePNG = image.toPng().outerHTML;
						
						mask = image.get("mask");
						if (mask.left == 0 && mask.top == 0 && mask.right == 0 && mask.bottom == 0) {
							parentGroups = image.ancestors();
							loopThroughParents(parentGroups);
						}
						maskX = mask.left;
						maskY = mask.top;
						maskWidth = mask.width;
						maskHeight = mask.height;
						
						croppingX = maskX - offsetX;
						croppingY = maskY - offsetY;
						croppingWidth = maskWidth;
						croppingHeight = maskHeight;
						
						croppingXRelative = croppingX / width;
						croppingYRelative = croppingY / height;
						croppingWidthRelative = croppingWidth / width;
						croppingHeightRelative = croppingHeight / height;
						if (croppingX < 0 || croppingY < 0) {
							sthIsWrong = " error";
							$('.reupload').show(10);
						}
						else {
							sthIsWrong = "";
						}
						imageName = imageName.replace(".jpg","");
						preview += "<div class='cropped-image' style='top:"+maskY+"px; left:"+maskX+"px; width:"+croppingWidth+"px; height:"+croppingHeight+"px;'>\n"+
									"<div style='top:"+(croppingY*-1)+"px; left:"+(croppingX*-1)+"px;'>"+imagePNG+"</div>\n"+
									"<input class='cropping-code"+sthIsWrong+"' value='http://images.hugoboss.com/is/image/boss/"+imageName+"?$marketing_asset$&wid="+croppingWidth+"&hei="+croppingHeight+"&cropN="+croppingXRelative+","+croppingYRelative+","+croppingWidthRelative+","+croppingHeightRelative+"' />\n"+
								"</div>\n";
						result += "<div class='row"+sthIsWrong+"'>\n"+
							"<div class='preview-image'>"+imagePNG+"\n"+
								"<div class='cropped-image' style='top:"+croppingY+"px; left:"+croppingX+"px; width:"+croppingWidth+"px; height:"+croppingHeight+"px;'>\n"+
									"<div style='top:"+(croppingY*-1)+"px; left:"+(croppingX*-1)+"px;'>"+imagePNG+"</div>\n"+
								"</div>\n"+
							"</div>";
						result += "<input class='cropping-code' value='http://images.hugoboss.com/is/image/boss/"+imageName+"?$marketing_asset$&wid="+croppingWidth+"&hei="+croppingHeight+"&cropN="+croppingXRelative+","+croppingYRelative+","+croppingWidthRelative+","+croppingHeightRelative+"' />\n"+
						"</div>";
						//console.log(progress+"%");
					}
					else {
						//console.log("Skipped '"+imageName+"' because it has been handled before");
					}
				}
				/*if (nodes[n].name == "txt") {
					console.log(nodes[n].get("left"), nodes[n].get("top"), nodes[n].get("width"), nodes[n].get("height")); // masks are also accessable for groups
				} */
			}
			preview += "</div>";
			result += "</div>";

			$("body").append(preview);
			$("body").append(result);
			$("body").append("<div id='view-button'>Liveview</div>");
			var endTime = Date.now();
			var timeDif = (endTime - startTime) / 1000;
			console.log("end: "+timeDif+"s");
			$(".row").animate({"opacity": 1}, 500);
			$("#progress").animate({"opacity": 0}, 50);
			//console.log(data);
			//document.getElementById('data').innerHTML = data;
			//document.getElementById('image').appendChild(psd.image.toPng());
			});
		}

	
	
	$(document).on('click', '.cropping-code', function() {
		$(this).select();
	});
	function changeView() {
		if ($("#view-button").text() == "Liveview") {
			$("#view-button").text("Listview");
			$(".row").show();
			$("#livepreview").hide();
		}
		else {
			$("#view-button").text("Liveview");
			$(".row").hide();
			$("#livepreview").show();
		}
	}
	function reverseOrder() {
		var list = $('#listview');
		var listItems = list.children('.row');
		list.html("");
		list.append(listItems.get().reverse());
	}
	$(document).on('click', '#view-button', function() {
		changeView();
	});






	$('#save').click(function(){


		var arr = [];
		$("#livepreview input.cropping-code").each(function(){
		    arr.push($(this).val() + '<br /><br />');
		});

		$('#link').val(arr.join(' '))

	


    ;})
	
	$('body').on('keydown', function(e) {
		if (e.which == 9) { // tab
			e.preventDefault();
			changeView();
		}
		if (e.which == 82) { // r
			e.preventDefault();
			reverseOrder();
		}
	});
});

</script>